[submodule "source/lib/fancybox"]
	path = source/lib/fancybox
	url = https://github.com/roastduckcd/theme-next-fancybox3.git
	#url = git@github.com:roastduckcd/theme-next-fancybox3.git
[submodule "source/lib/needsharebutton"]
	path = source/lib/needsharebutton
	url = https://github.com/roastduckcd/theme-next-needmoreshare2.git
